.bg-custom {
    background-color: #003DA7;
}

.psikolog {
    margin-top: 100px;
}

.custom-btn {
    background-color: #ffe401;
    color: #FFFFFF;
}

.navbar-collapse .nav-link {
    color: rgb(129, 106, 106);
}

* {
    font-family: "Poppins", sans-serif;
}