:root {
  --main-color: #003da7;
  --btn-color: #ffe401;
  --btn-effect-color: #fdc101;
  --btn-scnd-color: #1467c3;
  --btn-thrd-color: #05a5de;
  --text-color: #f8f8f8;
  --bg-color: #efefef;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 1.2em;
}

header h1 {
  color: #fff;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: 2em;
  margin: 0;
  margin-left: 2em;
}

nav {
  display: flex;
  justify-content: end;
  margin-top: 1em;
  margin-left: 10em;
  margin-right: 3em;
}

nav ul {
  background-color: var(--main-color);
  gap: 3em;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  /* Mengatur agar item berada pada posisi yang sama secara vertikal */
}

nav ul li {
  background-color: var(--main-color);
}

nav a {
  font-weight: normal;
  background-color: var(--main-color);
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

li button {
  font-size: 1em;
  font-weight: bold;
  border-radius: 1.5em;
  background-color: var(--btn-color);
  color: var(--main-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* NAVBAR END */

/* SESSION 1 */
.beranda1 {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 20px;
  /* Tambahkan padding agar konten tidak terlalu dekat dengan tepi */
}

.beranda1-teks {
  padding-left: 5em;
  padding-top: 8em;
  color: var(--text-color);
  background-color: var(--main-color);
}

.beranda1 h1 {
  background-color: var(--main-color);
  padding-bottom: 0.5em;
  font-size: 3em;
  max-width: 600px;
  /* Atur lebar maksimum sesuai kebutuhan Anda */
  word-wrap: break-word;
}

.beranda1 p {
  background-color: var(--main-color);
}

.beranda-btn {
  margin-top: 2em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1.5em;
  background-color: var(--btn-color);
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.beranda1-gmbr {
  background-color: var(--main-color);
  padding-top: 5em;
  margin-right: 5em;
}

.beranda1-gmbr img {
  background-color: var(--main-color);
}

/* END BERANDA 1 */

/* BERANDA 2 */
.beranda2 {
  padding: 4em 5em;
}

.beranda2 h1 {
  color: var(--main-color);
  font-size: 3em;
  text-align: center;
  /* Mengatur teks menjadi berada di tengah secara horizontal */
  display: flex;
  flex-direction: column;
  /* Menata teks dalam kolom */
  justify-content: center;
  /* Mengatur teks menjadi berada di tengah secara vertikal */
  align-items: center;
  /* Mengatur teks menjadi berada di tengah secara horizontal */
}

.subtext {
  font-size: 1em;
  /* Ukuran font untuk subteks */
  text-transform: none;
  /* Mengonversi teks menjadi huruf kecil */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  border-radius: 20px;
  width: 200px;
  height: 192px;
  border: 2px solid #333;
  margin: 20px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
  /* Menambahkan posisi relatif untuk mengontrol anak-anak */
}

/* Gaya untuk gambar di dalam kotak */
.box img {
  width: 10em;
  height: auto;
  object-fit: cover;
  /* Mengisi penuh kotak dengan mempertahankan rasio aspek */
}

/* Gaya khusus untuk setiap kotak */
.live-call {
  background-color: white;
}

.video-call {
  background-color: white;
}

.live-chat {
  background-color: white;
}

/* Gaya untuk judul kotak */
.box-title {
  background-color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

/* BERANDA 3 */

.beranda3 {
  padding: 5em;
  margin: 1em 0em;
  background-image: url("gambar/TentangKami.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.beranda3-text {
  color: white;
  background: transparent;
}

.beranda3 h1 {
  font-weight: bold;
  margin-left: 2em;
  background: transparent;
  /* Membuat latar belakang semi-transparan */
  font-size: 3em;
}

.beranda3-text p {
  font-weight: 200;
  font-size: 1.5em;
  margin-left: 4em;
  margin-bottom: 1em;
  background: transparent;
  max-width: 38em;
  /* Atur lebar maksimum sesuai kebutuhan Anda */
  word-wrap: break-word;
}

.beranda3-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 10em;
  background: transparent;
}

.beranda3-btn button {
  background-color: var(--btn-scnd-color);
  border-radius: 5em;
  padding: 0.9em 2.5em;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* beranda 4 */
.beranda4 {
  margin: 5em 2em;
}

.real {
  display: flex;
  justify-content: space-between;
}

.beranda4 h1 {
  font-size: 3.8em;
  text-align: center;
  /* Ubah nilai margin-bottom sesuai kebutuhan Anda */
  padding-bottom: 1em;
}

.image {
  flex-grow: 1;
  /* Memungkinkan gambar untuk tumbuh sesuai kebutuhan */
}

.full-width {
  padding-right: 0.5em;
  flex-basis: 60%;
  /* Gambar pertama mengambil 60% dari lebar kontainer */
}

.half-width {
  flex-basis: 40%;
  /* Gambar kedua dan ketiga masing-masing mengambil 40% dari lebar kontainer */
}

.images-column {
  display: flex;
  flex-direction: column;
  /* Menjadikan elemen anak menjadi satu kolom */
}

.images-column .image {
  margin-right: 2em;
  /* Menghapus spasi antara gambar kedua dan ketiga */
}

.images-column img {
  width: 20em;
  height: 14.8em;
  border-radius: 0% 10% 10% 0%;
}

.full-width img {
  width: 20em;
  height: 30em;
  border-radius: 10% 0% 0% 10%;
}

.box-text {
  margin-top: 1em;
  /* Ubah nilai margin-top sesuai kebutuhan Anda */
  padding: 2em 1em;
  padding-bottom: 0.5em;
  background-color: #fff;
  display: flex;
  border-radius: 0% 0% 10% 10%;
  justify-content: space-between;
}

.box-text .no {
  font-weight: bold;
  border-radius: 0.5em;
  font-size: 2em;
  padding: 0.1em 0.8em;
  margin-bottom: 5em;
  margin-right: 0.5em;
  background-color: #b8cde4;
}

.text1 {
  background-color: white;
  color: black;
}

.text1 h2 {
  background-color: white;
  max-width: 12em;
  font-size: 1.8em;
}

.text1 p {
  background-color: white;
  max-width: 30em;
  font-size: 0.9em;
  font-weight: 300;
}

.box2 {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.box2 h1 {
  margin-top: 1em;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8cde4;
  font-weight: bold;
  border-radius: 0.5em;
  font-size: 2em;
  padding: 0.1em 0.8em;
}

.box2 h2 {
  font-size: 1.8em;
  margin-top: 1em;
}

/* beranda 5 */
.MiniStory {
  width: 100%;
  /* Menggunakan lebar relatif agar sesuai dengan layar */
  max-width: 1440px;
  /* Maksimum lebar sesuai dengan kebutuhan */
  height: 455px;
  position: relative;
}

.Rectangle4356 {
  width: 1262px;
  height: 100%;
  /* Menggunakan tinggi relatif agar sesuai dengan tinggi MiniStory */
  left: 0px;
  top: 0px;
  position: absolute;
  background: #191b30;
}

.Rectangle4266 {
  width: 410px;
  height: 391px;
  right: 100px;
  /* Menyesuaikan jarak dari kanan */
  top: 32px;
  position: absolute;
  border-radius: 27.44px;
}

.KamuAdalahDirimuSendiri,
.Dan {
  background-color: #191b30;
  width: 620px;
  /* Lebar disesuaikan dengan kebutuhan */
  left: 100px;
  position: absolute;
  color: white;
  font-family: Poppins;
  word-wrap: break-word;
}

.KamuAdalahDirimuSendiri {
  top: 63px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.Dan {
  top: 229px;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.28px;
}

.Frame32 {
  width: auto;
  /* Sesuaikan lebar dengan isi */
  height: auto;
  /* Sesuaikan tinggi dengan isi */
  padding: 20px 40px;
  /* Atur padding agar tetap proporsional */
  left: 100px;
  /* Atur posisi horizontal */
  bottom: 20px;
  /* Atur posisi vertikal */
  position: absolute;
  background: #1467c3;
  border-radius: 32px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05px;
  word-wrap: break-word;
}

/* Beranda 6 */
.beranda6 {
  padding: 8em 5em;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  /* Menghindari konten keluar dari batas layar */
}

.beranda6-text {
  flex-basis: 50%;
}

.beranda6-text h1 {
  color: var(--btn-scnd-color);
  max-width: 15em;
  font-size: 2em;
}

.beranda6-text .color1 {
  color: #e69f10;
}

.beranda6-text .color2 {
  color: #fcaf14;
}

.beranda6-text p {
  max-width: 35em;
  font-size: 1em;
  font-weight: 300;
}

.profile-carousel {
  flex-basis: 40%;
  overflow: hidden;
  /* Menghindari konten keluar dari batas layar */
}

.carousel-inner {
  display: flex;
  width: 300%;
  /* Lebar carousel-inner sama dengan 3 kali lebar profil box */
  transition: transform 0.5s ease;
  /* Efek transisi saat slide */
}

.profile-box {
  background-color: white;
  flex: 0 0 33.33%;
  position: relative;
  cursor: grab;
  user-select: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5em 1em 1em;
  /* Ubah padding bawah menjadi 1em */
}

.profile-box img {
  border-radius: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1em;
  /* Tambahkan margin bawah 1em */
  object-fit: cover;
  position: relative;
  top: -1em;
  /* Geser gambar ke atas sejauh 1em */
}

.profile-box h2 {
  background-color: white;
  font-size: 1em;
}

.profile-box h1 {
  background-color: white;
  font-size: 18px;
}

.profile-box p {
  background-color: white;
  font-size: 16px;
}

.profile-box h2,
.profile-box h1,
.profile-box p {
  text-align: center;
}

.sesi {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  /* Tambahkan margin bawah untuk jarak antar sesi */
}

.sesi .material-symbols-outlined {
  background-color: white;
  margin-right: 5px;
}

/* end beranda 6 */

/* beranda 7 */
/* .beranda7 {} */

.beranda7 h1 {
  padding: 5em 2em;
  text-align: center;
}

.testimoni-section {
  display: flex;
  justify-content: center;
}

.testimoni-card {
  border-radius: 2em;
  max-width: 50em;
  /* Menggunakan max-width daripada width */
  padding: 2em;
  border: 1px solid #ccc;
  margin: 10px;
  overflow: hidden;
}

.testimoni-content {
  display: flex;
}

.testimoni-content img {
  border-radius: 60px;
  width: 100px;
  /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: 100px;
  /* Sesuaikan ukuran gambar sesuai kebutuhan */
  margin-right: 10px;
}

.testimoni-text {
  flex-grow: 1;
}

.testimoni-text h2 {
  margin: 0;
}

.testimoni-text h3 {
  margin: 5px 0;
}

.testimoni-text p {
  margin: 0;
}